<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.main.ModFolderBenchmarkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ModPageTransitionBenchmarkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.workshop.WorkshopYouTubeTestActivity"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

    </application>
</manifest>
